<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Add Movie</h1>
    <form action = "/movies/create" method = "POST">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder=description name=description>
    <select name= "movieGenre">
        <option value = ""> select Genre</option>
        <option value = "action"> action</option>
        <option value = "horror"> comedy</option>
        <option value = "drama"> Drama</option>
    <input type="text" placeholder=posterUrl name=posterUrl>
    <button>Submit</button>
    </form>
</body>
</html>