<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<a href="/movies/create">Add a Movie</a>
    <section>
     
    {{#arr}}
    <form action='/movies/delete' method="post">
    <div class= "movieCard">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <p>Genre: {{genre}}</p>
    <img src='{{image}}'>
    <input type = 'hidden' value = {{id}} name = "id">
    <button>delete</button>
    </div>
    </form>
    <form action = "/movies/{{id}}" method = 'POST'>
    <button> Show details</button>
    </form>
    {{/arr}}
    </section>
</body>
</html>