<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/addTrip">
    <input type="text" placeholder="enter destination" name="title">
    <input type="text" placeholder="enter image url" name="image">
    <input type="date" placeholder="enter departure date" name="departure">
    <input type="date" placeholder="enter return date" name="arrive">
    <button>submit</button>
</form>
</body>
</html>