
<h1>Add Movie</h1>

<form method = "POST" action = "/add-movie">
<input type ='text' placeholder ='Enter Movie Name' name ='title' />
<input type = 'text' placeholder = 'Enter Movie Year' name='year' />
<button>Submit</button>
</form>