body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  input[type="text"], button {
    padding: 8px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    background-color: #ddd;
    font-size: 16px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  #selectedEmail {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  #allOrders {
    display: flex;
    flex-wrap: wrap;
  }
  
  #allOrders h1 {
    flex-basis: 100%;
    font-size: 24px;
  }
  
  #allOrders ul {
    flex-basis: 25%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  